#root {
  margin: 0 auto;
  padding: 2rem;
}

html {
  -ms-overflow-style: scrollbar;
  overflow-y: scroll;
  overscroll-behavior: none;
  height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100% - 4rem);
  box-sizing: border-box;
  border: solid 10px hotpink;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0; 
  right: 0;
  text-align: center;
  font-size: 0.8rem;
  height: 4rem;
  margin-bottom: env(safe-area-inset-bottom);
  background-color: lightgray;
}
